main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
}
.sapper{
  width: 100%;
  padding-top: 150px;
}
.sapper__game{
  margin: 0 auto;
  padding: 25px 20px 15px 20px;
  width: 380px;
  background-color: #d2d2d2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  -webkit-box-shadow: 12px 12px 8px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 12px 12px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 12px 12px 8px 0px rgba(0, 0, 0, 0.2);
}
.sapper__header{
  margin-bottom: 25px;
}
.ico{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}
.ico img{
  width: 100%;
  height: 100%;
}

.header{
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.time__ico{
  height: 50px;
}
.header__ico img{
  width: 50px;
}
